@charset "UTF-8";
/**
 * エコロジーテーマ スタイルシート
 */
* {
	margin:0px;
	padding:0px;
}
/* tags
----------------------------------------------- */
body {
	marign:0;
	padding:0;
	font-size:14px;
	line-height:1.4;
}
p, h1, h2, h3, h4, h5, h6, h7 {
    font-size: 100%;
    margin: 0;
    font-weight: normal;
}

div {
	marign:0;
	padding:0;
}
ul,li {
	margin: 0;
	padding: 0;
}
li {
	zoom: 1;
	list-style: none;
}
li a {
	zoom: 1;
}
table.row-table-01 {
	width:710px;
	border-collapse: collapse;
	border-spacing: 0;
        margin:0 auto;
	margin-bottom:15px;
}
table.row-table-02 {
	width:710px;
	border-collapse: collapse;
	background:#bbb;
	border-spacing: 0;
	margin: 10px 0;
	padding:10px 0;
}
th {
	padding:8px;
	width:165px;
	font-size:90%;
/*	border:1px solid #ccc;*/
	text-align:left;
	background-color:#f9f9f9;
}
th.col-head {
	width:165px;
	font-size:90%;
	border:1px solid #ccc;
	text-align:left;
	background-color:#f9f9f9;
}
/*
td{
	padding:8px;
	width:510px;
	font-size:90%;
	border:1px solid #ccc;
}
*/
td.col-input {
	width:510px;
	font-size:90%;
	border:1px solid #ccc;
        padding:10px;
}
td.bizhead {
	padding:0;
	height:24px;
	width:700px;
	background: #eee;
	border:1px solid #fff;
}
td.bizclear {
	margin:0;
	padding:0;
	height:15px;
	background: #fff;
	border:1px solid #fff;
}
td.biz1 {
	margin:0;
	padding:10px 10px 0 0;
	width:200px;
	vertical-align:top;
	background: #fff;
	border:1px solid #fff;
}
td.biz2 {
	margin:0;
	padding:10px 0 0 5px;
	width:500px;
	background: #fff;
	border:1px solid #fff;
}
div.bizleft {
	float:left;
	height:24px;
	width:5px;
	background:#999;
}
div.biztitle {
	float:left;
	height:24px;
	position:relative;
	top:5px; padding-left:5px;
}

input {
	margin:3px;
}
img {
	border:none;
}

a {
	color: #0094D2;
}
  
a:hover{
	text-decoration: underline;
}
a:hover img{
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	background: #fff;
}


.required {
	color:#C30;
	font-size:16px;
}
.form-error {
	background-color:#FCF5EB;
}

hr{
    border:none;
    border-top:dotted 1px #EEEEEE;
    height:1px;
    color:#FFFFFF;
    margin-top: 2px;
    margin-bottom: 10px;
}

/* Page
----------------------------------------------- */
#Page {
	width:1000px;
	margin:0 auto;
	text-align: left;
        margin-top:20px
}
/* Alfa, Beta
----------------------------------------------- */
#Alfa,
#Beta {
	position: relative;
	float:left;
	display: inline;
}
#Alfa {
	width:732px;
	left:0px;
}
#Beta {
	width:255px;
	float: right;
	padding-top:0px;
	padding-right:5px;
}

#Wrap{
}
.to-top {
    text-align:right;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 12px;
}
.to-top img {
    margin-right: 3px;
    vertical-align: middle;
}
/* Header
----------------------------------------------- */
#Header {
	width:1000px;
	margin:0 auto;
	text-align: left;
}

#HeaderKakugen {
	padding: 15px 0 5px 0;
	width:700px;
	float:left;
}
#HeaderTel {
	padding: 10px 0 5px 0;
	width:300px;
	float:right;
	text-align:right;
	font-size:16px;
	color:#224272;
	font-weight: bold;
}

/* SearchForm */
.search-box {
	float:right;
	line-height:19px;
	padding-bottom:13px;
	padding-top:25px;
}
#ContentQ{
	padding:0;
	margin:0;
	height:17px;
	width:109px;
	border:1px solid #cccccc;
	vertical-align:middle;
}
#BtnSearch{
	margin:0 0 0 2px;
	padding:0;
	vertical-align:middle;
}

div.hline {
	margin:0;
	padding:0;
	height: 100px;
}

div.headback {
	width:1000px;
	height: 22px;
	margin:0 auto;
	padding-left:5px;
	text-align: left;
}
div.headbody {
	margin:0 auto;
	padding-top:0;
	color:#ffffff; width:960px;
}

div.vrthead div {
	width:1000px;
	margin:0 auto;
	display:table-cell;
	vertical-align:middle;
	display:inline\9;
	zoom:1\9;
	color:#fff;
}
.vrthead2 {
	width:1000px;
	height:22px;
	color:#fff;
}
/* Contents
----------------------------------------------- */

#subpage{
    background: #FFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow : 0 0 2px 1px rgba(0, 0, 0, 0.05) ;
    -webkit-box-shadow : 0 0 2px 1px rgba(0, 0, 0, 0.05) ;
}

h2.contents-head {
/*	background:url(../img/titlebar.png) no-repeat left top; */
	height:32px;
	padding: 8px 0 0 0;
	font-weight:bold;
	font-size:15px;
	color:#555;
}

h3{
    font-size: 24px;
    border-bottom: 1px #CCCCCC solid;
    font-weight: normal;
    line-height: 3em;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
}

h3.contents {
	background:url(../img/titlebar.png) no-repeat left top;
	width: 710px;
	_width: 680px;
	height:32px;
	margin-top: 10px;
	padding: 8px 0  0 30px;
	_padding: 8px 0  0 30px;
	font-weight:bold;
	font-size:13px;
	color:#555;
}

h3.contents-head {
	width: 712px;
}
h4.contents-head {
        font-weight: normal;
        font-size:22px;
}
.news{
	margin-right:0!important;
}
.news h2{
	background:url(../img/titlebar.gif) no-repeat left center;
	margin-top:11px;
	margin-bottom:10px;
	color:#222;
	height:32px;
	padding: 10px 0  0 20px;
/*	padding-left: 15px;　*/
	line-height:32px;
	font-size:16px;
}
.news li{
	border-bottom:1px dotted #666;
	padding-bottom:10px;
	padding-top:10px;
}
.news .date{
	width:115px;
	float:left;
	padding-left:5px;
}
.news .title{
	width:506px;
	float:left;
}

#Newsback {
	width:690px;
	height:210px;
	margin:0 auto;
	margin-bottom:15px;
	background:url(../img/news3.png) no-repeat left top;
}
/* footer
----------------------------------------------- */

#SosialBtn {
	float:right;
	padding-left:280px;
	padding-right:0px;
}

#SosialBtn a {
	display:block;
	float:left;
	padding-right:4px;
}

#FooterContents {
	float:left;
	padding-top:4px;
}
#FooterContents ul {
	padding-bottom:17px;
}

#FooterContents ul li {
	float:left;
	font-size:10px;
	padding-right:5px;
	line-height:10px;
	border-right:1px solid #ddd;
	padding-left:5px;
}

#FooterContents ul li.firstChild {
	border-left:none;
}

#FooterContents ul li a {
	color:#eee;
}


#CopyRight  {
	color:#FFF;
	font-size:10px;
	text-align:left;
	padding-top:10px;
	padding-left:5px;
}
#Footer {
    margin-top:20px;
    width:100%;
    height:80px;
    background: #224272; /* Old browsers */
}

#FooterInner {
	width:1000px;
	margin:0 auto;
	padding-top:10px;
	height:70px;
}

/* Navigation
----------------------------------------------- */
#Navigation {
    background: #FFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow : 0 0 2px 1px rgba(0, 0, 0, 0.05) ;
    -webkit-box-shadow : 0 0 2px 1px rgba(0, 0, 0, 0.05) ;
    margin-bottom: 10px;
    margin-top:3px;
    padding:2px 0 2px 10px;
}
/* widget
----------------------------------------------- */
.widget h2 {
	margin:0 0 5px  0;
	height:26px;
	font-size: 13px;
	background:#bbb;
	line-height: 26px;
}
.widget ul {
	background:#fff;
	text-align:left;
}

/* clear
----------------------------------------------- */
.clear {
	clear:both;
}
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
.clearfix {
	display: block;
}
/* .pagination
---------------------------------------------------*/
.pagination .disabled {
	display:none;
}
.pagination .number,
.pagination .prev,
.pagination .next,
.pagination .current{
	padding:5px 8px;
	border:1px solid #e2e2e2;
	margin:0 2px;
}
/* list-num
---------------------------------------------------*/
.list-num {
	text-align: right;
}
/* 検索
---------------------------------------------------*/
.search-box {
	text-align: center;
}
.search-result {
	text-align: right;
}

/* MainSlider
----------------------------------------------- */
#MainSlider {
	width:100%;
	height:340px;
	padding: 17px 0 13px 0;
}

#MainSliderInner {
	margin:0 auto;
	width:1000px;
	height:36px;
}

#MainSliderLeft {
	float:left;
	padding-top:70px;
	padding-left:20px;
	padding-right:157px;
	text-align:left;
	width:320px;
}

.MainSliderBack {
	height: 360px;
	background: url('../img/linen_bg.jpg') repeat-x left top;
}
/* MainBack
----------------------------------------------- */
div.mainback {
/*	background:url(../img/bg_back.gif) repeat-x left top; */
	margin-bottom:10px;
	width:100%;
	height:10px;
	background: #FA9AA3;
}

/* SideBar
----------------------------------------------- */
#SideBar{
	background:url(../img/side/sidebox_pg_center.png);
	width:259px;

}
#SideBox{
	padding-left:12px;
}
#SideBox h2{
	height:28px;
	color:#FFFFFF;
	text-align: center;
	font-size: small;
	line-height: 28px;
}
#SideBox div{
/*	background:#fff; */
/*	padding:5px 5px 0 5px; */
}
#SideBox div img{
/*	margin-bottom:5px; */
}
#SideBox p{
	margin-bottom:5px;
}
#SideBox .more a{
	width:66px;
	height:21px;
	display:block;
	float:right;
	text-indent:-3000px;
	text-align:left;
}

/* linkbox
----------------------------------------------- */
div.link {
	width:245px;
/*	display:block; */
	float: right;
	padding:5px 0 0 5px;
/*	background:#eee; */
	text-align: center;
}

/* Twitter
----------------------------------------------- */
div.tweet {
	margin-bottom:10px;
	padding:10px 8px;
	background:#fff;
	font-size:12px;
	text-align:left;
}

/* BaseMargin
----------------------------------------------- */
.section {
	margin-bottom:20px;
	clear: both;
}
.section p {
	line-height: 170%;
/*	margin-bottom:10px; */
}

/* news-description
---------------------------------------------------*/
.blog-description {
	margin-left:10px;
}

/* post
---------------------------------------------------*/
.post {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:30px;
}
.post-body,
#post-detail {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:30px;
	line-height:2em;
}
/*
.more {
	text-align:right;
	margin:15px 10px 0 10px;
}
*/
/* toppage multibox
---------------------------------------------------*/
#multibox {
	width: 700px;
	margin: 0 auto;
	margin-top: 15px;
	background-color: #fff;
	letter-spacing: 8px;
	letter-spacing: 8px\9;   /* for IE8 */
	white-space: nowrap;
	overflow: hidden;
}
#multibox p {
	margin: 0 0 1em;
	letter-spacing: normal;
	text-align: center;
}
#multibox .box {
	display: inline-block;
	width: 225px;
	height: 150px;
	background-color: #fff;
	vertical-align: top;
	zoom: 1;
}
#umultibox {
	width: 700px;
	margin: 0 auto;
	background-color: #fff;
	letter-spacing: 8px;
	letter-spacing: 8px\9;   /* for IE8 */
	white-space: nowrap;
	overflow: hidden;
}

#umultibox .ubox {
	display: inline-block;
	*display: inline;   /* for IE6,7 */
	*margin: 0 15px 0 0;   /* for IE6,7 */
	color: #333;
	padding:10px 0 5px 10px;
	width: 215px;
	height: 20px;
	background-color: #f2f2f2;
	vertical-align: top;
	zoom: 1;
}

/* Blog
----------------------------------------------- */
#ContentsBody .meta , .tag{
	text-align:right;
	padding-top: 10px;
	font-size: 12px;
}

#ContentsBody .post{
    border-radius: 4px 4px 4px 4px;
    background:url(../img/icons_bg_2.png);
	margin: 10px 10px 30px;
	padding:20px;
}
#ContentsBody .meta{
    margin-top: 20px;
    border-top:1px #ccc dotted;
}
#ContentsBody .post h4{
	border-bottom:1px #CCC dotted;
    font-size: 22px;
    padding-bottom: 12px;
    margin-bottom: 17px;
}
#ContentsBody .date{
    float: left;
}

#BlogComment {
	margin-top:40px;
	padding:0 10px;
}
#BlogCommentList {
	padding:10px 20px;
	margin-top:20px;
}
#BlogCommentAddForm {
	padding:10px 0;
}
#BlogCommentList .comment {
	padding-bottom:8px;
	border-bottom:1px dashed #CCCCCC;
	margin-bottom:20px;
}
#BlogCommentAddForm textarea{
	width:450px;
}
.blog-description{
    padding: 10px 0;
    font-size: 22px;
}
/* calendar
----------------------------------------------- */
.widget-blog-calendar table {
	margin:0;
	background-color:#fcfcfc;
}
.widget-blog-calendar th {
	border-bottom:1px solid #e2e2e2;
}
.widget-blog-calendar th,
.widget-blog-calendar td {
	padding:5px 3px;
	font-size:13px;
	text-align: center;
}
.widget-blog-calendar .sunday {
	color:#ff6633;
}
.widget-blog-calendar .saturday {
	color:#3366FF;
}
.widget-blog-calendar .today {
	background-color:#e2e2e2;
}

/* blog & news
----------------------------------------------- */
.widget-blog-categories-archives h2,
.widget-blog-monthly-archives h2,
.widget-blog-recent-entries h2 {
	margin-top:10px;
}

.display-none {
	display:none;
}

div.lbox {
	width: 125px;
	padding:5px 0;
	float: left;
	border:none;
}

div.cbox {
	width: 15px;
	padding:5px 0;
	float: left;
	border:none;
}

div.rbox {
	width: 500px;
	padding:5px 0;
	float: left;
	border:none;
}


/*-- メニュー --*/
ul#Menu{
	width: 1000px;
	font-size: 1px;
	margin: 0 auto;
	clear: both;
}

ul#Menu:after{
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}

ul#Menu li{
	display:inline; float:left;
}

ul#Menu li a.m1{display:block;width: 145px;height: 52px;background: url(../img/header_home.png) 0 0 no-repeat;text-indent:-9999px;text-decoration: none;}
ul#Menu li a.m2{display:block;width: 142px;height: 52px;background: url(../img/header_01.png) 0 0 no-repeat;text-indent:-9999px;text-decoration: none;}
ul#Menu li a.m3{display:block;width: 142px;height: 52px;background: url(../img/header_02.png) 0 0 no-repeat;text-indent:-9999px;text-decoration: none;}
ul#Menu li a.m4{display:block;width: 142px;height: 52px;background: url(../img/header_03.png) 0 0 no-repeat;text-indent:-9999px;text-decoration: none;}
ul#Menu li a.m5{display:block;width: 142px;height: 52px;background: url(../img/header_04.png) 0 0 no-repeat;text-indent:-9999px;text-decoration: none;}
ul#Menu li a.m6{display:block;width: 142px;height: 52px;background: url(../img/header_05.png) 0 0 no-repeat;text-indent:-9999px;text-decoration: none;}
ul#Menu li a.m7{display:block;width: 145px;height: 52px;background: url(../img/header_06.png) 0 0 no-repeat;text-indent:-9999px;text-decoration: none;}

ul#Menu li a.m1:hover{opacity:0.8;}
ul#Menu li a.m2:hover{opacity:0.8;}
ul#Menu li a.m3:hover{opacity:0.8;}
ul#Menu li a.m4:hover{opacity:0.8;}
ul#Menu li a.m5:hover{opacity:0.8;}
ul#Menu li a.m6:hover{opacity:0.8;}
ul#Menu li a.m7:hover{opacity:0.8;}
/* body#Default ul#Menu li a.m1{background-position: 0 0;} *//* グローバルメニューでトップページの下線を表示する場合はコメントアウトを外して下さい  */


/*top */
#top-okazaki{
	margin-top:20px;
}
#top-contents{
	margin-top:20px;
	overflow:auto;
	width:727px;
}
#top-left{
	width:361px;
	float:left;	
}
#top-right{
	width:366px;
	float:right;
}
#top-news{
	margin-top:20px;
	width:727px;
	min-height: 305px;
}
#top-news-l{
	float:left;
	width:350px;
        min-height: 305px;
}
#top-news-r{
	float:right;
	width:350px;
        min-height: 305px;
}
.top-news{
    background: #FFFFFF;
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius:4px;
    box-shadow:  0 0 2px 1px rgba(0, 0, 0, 0.03) ;
    -moz-box-shadow : 0 0 2px 1px  rgba(0, 0, 0, 0.03) ;
    -webkit-box-shadow : 0 0 2px 1px rgba(0, 0, 0, 0.03) ;
}
.top-news-title{
    font-size:20px;
    padding: 15px 10px 10px;
}
.top-news-title .more{
    font-size: 12px;
    float: right;
}
#top-news-links{
    margin: 0 10px 15px 15px;
    padding-bottom: 5px;
    overflow: auto;
    border-bottom: 1px dotted #EEEEEE;
}
.top-news-new{
    float: left;
}
.top-news-txt{
    width: 280px;
    float: right;
}
.top-news-txt span{
    font-size: 11px;
}
#top-okazaki{
	margin-top:10px;
}
#top-magazine{
	margin-top:20px;
	background: url("../img/top/magazine_bg.png") 0 0 no-repeat;
	height:235px;
	width:727px;
}
#top-magazine-text{
	padding: 75px 355px 0 50px;
	text-align: center;
}
#top-magazine-btn{
	width: 230px;
	margin: 7px 0 0 87px;
}
#media-news{
	background: #EEE;
	margin: 20px 0;
	padding: 10px;
	overflow: auto;
}
#media-news-title{
	margin: 10px;
	font-size: 20px;
}
#media-news-title span{
    color: #666666;
    font-size: 12px;
}

#media-news-con ul{
	margin: 20px;
}

#media-news-con ul li{
	float: left;
	margin: 10px 20px;
}


/*sidebox*/
#sidebox-app{
	margin-top:5px;
}
#sidebox-app img{
	margin-bottom:10px;
}

#facebook{
	margin-top: 10px;
	width:235px;
}

#sidebox-books{
	background:url("../img/side/right_book_bg2_top.png");
	margin-top:20px;
	width:235px;
}

/*top news firstChild*/
#news .news{
	width: 300px;
	background: #FFF;
	float: left;
}
#news.Newsback{
	width: 280px;
}


/*TOPPAGE*/
#socialbuttons{
    margin: 5px 0;
    overflow: auto;
}

#top-books{
    width: 727px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.03);
    -moz-box-shadow : 0 0 2px 1px rgba(0, 0, 0, 0.03) ;
    -webkit-box-shadow : 0 0 2px 1px rgba(0, 0, 0, 0.03) ;
}
#books-title{
    font-size: 20px;
    margin: 10px;
}

#books-title .more {
    float: right;
    font-size: 12px;
}

#top-contents01{
    margin-top:20px;
    overflow: auto;
}
#top-contents01-left{
    float: left;
    width:366px;
    height: 177px;
    background:url('../img/top/top_itm.png') no-repeat;
}
#top-contents01-right{
    float: right;
    width:366px;
    height: 177px;
    background:url('../img/top/top_seminar.png') no-repeat;
}

#top-contents02{
    margin-bottom:20px;
    overflow: auto;
}
#top-contents02-left{
    float: left;
    width:366px;
    height: 177px;
    background:url('../img/top/top_ms.png') no-repeat;
}
#top-contents02-right{
    float: right;
    width:366px;
    height: 177px;
    background:url('../img/top/top_books.png') no-repeat;
}
.top-contents{
    padding: 43px 17px 0 20px;
}
.top-contents-link{
    padding-left:20px;
}


/*ms-pic*/
#ms-pic{
    background: #FAFAFA;
    width:692px;
    margin:0 auto;
    border: 1px #E7E7E7 solid; 
    border-radius: 4px 4px 4px 4px;
    margin-bottom:20px;
}

#ms-photo{
    background: #FAFAFA;
    width:330px;
    margin:0 auto;
    border: 1px #E7E7E7 solid; 
    border-radius: 4px 4px 4px 4px;
    margin-bottom:20px;
    text-align: center;
    padding: 20px 0;
}

#ms-book{
    border: 1px #E7E7E7 solid; 
    width:692px;
    margin:0 auto;

}

/*okazaki*/
#okazaki-history{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #FAFAFA 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#a8a8a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#FAFAFA 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#FAFAFA 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#FAFAFA 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#FAFAFA 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    font-size: 16px;
    line-height:4em;
    color: #666;
}

#okazaki-enkaku{
    margin: 0 20px;
}
#okazaki-enkaku img{
    margin: 10px 0px;
}
#okazaki-enkaku td{
    padding: 20px 10px;
    vertical-align: top;
}
#okazaki-enkaku .odd{
	background: #EEE;
}

/*contact*/

.submit{
    text-align: center;
}

/*about*/
.row-table-01{
    width: 585px;
    margin: 0 auto;
}
.row-table-01 th,.row-table-01 td{
    font-weight:normal;
    border-bottom: 1px #EDEDED solid;
    line-height: 3;
}
.row-table-01 input,.row-table-01 input select{
    height: 25px;
    font-size: 16px;
}
.auth-captcha{
    text-align: center;
}
.auth-captcha-image{
    vertical-align:middle;
}
.auth-captcha input, .auth-captcha select{
    height: 25px;
    font-size: 16px;
}


/*map*/
#map{
    margin: 0 auto;
}

/*itm会員について*/
table#itm-member{
    width: 690px;
    border: 1px solid #EEEEEE;
    border-collapse: collapse;
}
table#itm-member tr{
    border-bottom: 1px solid #EEEEEE;
}
table#itm-member td{
    padding:30px 20px;
    vertical-align: top;
}
/*
#itm-member th{
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    width: 170px;
    background-color: #FFFFFF;
}
#itm-member td{
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding:10px;
}
*/